.modal.fade.bs-example-modal-lg(id=id + '_myModal', tabindex="-1", role="dialog", aria-labelledby=id + '_myModalLabel', aria-hidden="true")
    .modal-dialog(style="width:67%;")
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title 详情
            .modal-body(id=id + '_myModalBody')
                p 数据加载中...
            .modal-footer
                button.btn.btn-primary(type="button", data-dismiss="modal") 关闭
.container-fluid(style="padding-left:0px")
    .row
        .col-sm-4
            form.form-inline
                label.control-label(for=id + '_name', style="font-size:16px;") 名称&nbsp;&nbsp;
                input.form-control(id=id + '_name', type='text', placeholder="名称", value=cond.name)
    .row(style="padding-top:6px;")
        .col-sm-12
            button.btn.btn-default(id=id + '_search', type="button", data-loading-text="处理中..", autocomplete="off") 搜索
.container-fluid(style="padding-left:0px;padding-top:6px;")
    table.table.table-striped.table-bordered.table-hover
        thead
            tr
                td 名称
                td 创建时间
                td 操作
        tbody
            - each val in rst
                tr
                    td=val.name
                    td=val.create_time
                    td
                        button.btn.btn-default(type="button", flag=id + "_detail", tId=val.id) 详情
                        button.btn.btn-default(type="button", flag=id + "_delete", tId=val.id) 删除
.container-fluid(id=id + '_pageBar', style="padding-left:0px;")
script(type='text/javascript', src='./js/' + jadePath + '.js')
script(type='text/javascript')
    |CurSite.IMPL['#{id}'] = new CurSite.COMP.AdminBookListType({id:'#{id}', parent:'#{parent}', skip:'#{skip}', limit:'#{limit}', count:'#{count}'});