.container-fluid(style="padding-left:0px")
    form.form-inline
        label.control-label(for=id + '_game_code', style="font-size:16px;") 游戏编码&nbsp;&nbsp;
        input.form-control(id=id + '_game_code', type='text', placeholder="游戏编码", value=cond.game_code)
.container-fluid(style="padding-left:0px")
    .row(style="padding-top:6px;")
        .col-sm-12
            button.btn.btn-default(id=id + '_search', type="button", data-loading-text="处理中..", autocomplete="off") 搜索
.container-fluid(style="padding-left:0px;padding-top:6px;")
    table.table.table-striped.table-bordered.table-hover
        thead
            tr
                td 游戏
                td 编码
                td 名称
                td 中奖规则
                td 奖金
                td 操作
        tbody
            - each val in rst
                tr
                    td=val.game_code
                    td=val.code
                    td=val.name
                    td=val.hit_rule
                    td=val.hit_amount
                    td
                        button.btn.btn-default(type="button", flag=id + "_set_amount", tId=val.id) 设置中奖金额
.container-fluid(id=id + '_pageBar', style="padding-left:0px;")
script(type='text/javascript', src='./js/' + jadePath + '.js')
script(type='text/javascript')
    |CurSite.IMPL['#{id}'] = new CurSite.COMP.AdminGameListGameLevel({id:'#{id}', parent:'#{parent}', skip:'#{skip}', limit:'#{limit}', count:'#{count}'});