.container-fluid(style="padding-left:0px")
    .row
        .col-md-4
            label.control-label 名称
            input.form-control(id=id + '_name', type="text")
        .col-md-4
            label.control-label 图片
            input.form-control(id=id + '_file_id', type="text")
    .row(style="padding-top:16px")
        .col-md-4
            label.control-label 奖励经验值
            input.form-control(id=id + '_rewardExp', type="text")
        .col-md-4
            label.control-label 奖励金币
            input.form-control(id=id + '_rewardGold', type="text")
    .row(style="padding-top:16px")
        .col-md-8
            label.control-label 任务描述
            textarea.form-control(id=id + '_description', type="text")
    .row(style="padding-top:16px")
        .col-md-12
            button.btn.btn-default(id=id + '_submit', type="button", data-loading-text="处理中..", autocomplete="off") 创建
script(type='text/javascript', src='./js/' + jadePath + '.js')
script(type='text/javascript')
    |CurSite.IMPL['#{id}'] = new CurSite.COMP.AdminTaskAdd({id:'#{id}', parent:'#{parent}'});